*{
    padding: 0;
    margin: 0;
    font-family: "Kanit", sans-serif;
    /* background-color: #314a20; */
}

body{
    background-color: #314a20;
}

body p::selection{
    background-color: #345e17;
    color: #fff;
}

body h1::selection{
    background-color: #345e17;
    color: #fff;
}

body h2::selection{
    background-color: #345e17;
    color: #fff;
}

body ul li::selection{
    background-color: #345e17;
    color: #fff; 
}

body ul li b::selection{
    background-color: #345e17;
    color: #fff; 
}

.container{
    padding: 8rem 2em;
    display: flex;
    align-items: center;
    color: #fff;
}
.container img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    padding-right: 3rem;
    border-radius: 2rem;
}

.container img:hover{
    opacity: .7;
    transition: all .3s;

}

.container h1{
    font-size: 4rem;
}

.container p{
    font-weight: 200;
    margin-bottom: 2rem;
}

.container p::first-line{
    background-color: #4f683f;
}

.container a{
    background-color: #533618;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 50rem;
}

.container a:hover{
    background-color: #725436;
    transition: all .3s;
}

.container-2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 8rem 3rem;
    background-color: #c1c2bc;
}

.container-2 h2{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.container-2 ul{
    font-weight: 300;
    margin-right: 3rem;

}

.container-3{
    padding: 8rem 2em 2em 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-3 h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.noticias{
    display: flex;
    justify-content: space-evenly;
    max-width: 1140px;

}

.card{
    max-width: 250px;
    padding: 1rem 1rem 2rem 1rem;
    background-color: #725436;
    border-radius: 2rem;
    border: 2px solid #533618;
    color: #fff;
    font-weight: 200;

}

.card img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: .5rem;
}

.card a{
    background-color: #533618;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 50rem;
}

.card p{
    margin-bottom: 1.5rem;
}

.card p::first-letter{
    font-size: 70px;
    color: #533618;
    font-weight: 600;
    line-height: 5rem;
}

.card a:hover{
    background-color: #314a20;
    transition: all .3s;
}

footer p::after{
    content: " | Sabrina Pasti dos Santos";
}

footer{
    padding: 2em;
    color: #fff;
    font-weight: 300;
    text-align: center;
}