.item{
    border: 1px black solid;
    width: 60px;
    height: 60px;
}

#container{
    display: flex;
    justify-content: center;
    /* flex-direction: row-reverse; */
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.edit{
    height: 80px;
    /* ocupa o tamanho de X colunas */
    flex-grow: 6;
}