p{
    font-size: 1.rem;
    font-weight: 100;
    background-color: #e697df;
    box-shadow: 6px 6px #8f0083;
    color: #8f0083;
    line-height: 2rem;
    font-family: "Rubik Mono One", monospace;
    
}

body{
    margin: 0 30%;
    background-image: url('img.gif');
    background-repeat: no-repeat;
    background-size: 100%;

}

img{
    width: 100%;
    box-shadow: 6px 6px #8f0083;

}
/* Medidas absolutas
    cm, in, px
    Trabalha com certeza
    Height: Altura
    Width: Largura 
    Font-size: Configura o tamanho de um texto.

    Medidas Relativas
    Trabalha com responsividade, abrange as possibilidades de visualização de seu website.
    %, em, rem, vh, vw

    Qual a diferença  entre em e rem?
    Antes é necessário que saibamos sobre o elemento root/raiz: é o elemento <html> 
    Dentro da tag html temos três tags filhas, sendo head, body e footer pois são tags criadas diretamente dentro da tag html. Hierarquia.

    em: Sempre irá respeitar o tamanho definido no elemento pai mais próximo
    rem: sempre irá responder ao tamanho configurado no elemento root

*/